@page
@model EvaluacionNutricionalModel
@{
}

<link href="~/css/evaluacionnutricional.css" rel="stylesheet" />
<script src="~/js/informacionpersonal.js"></script>


<div class="contenedorEvaluacion">
    <h1>Evaluación nutricional</h1>
    <legend>Ingrese sus datos</legend>
    <form class="datosPersonales" class="form-group">

        <div class="columnContainer">
            <label for="inputNombre" class="form-label mt-4">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" aria-describedby="emailHelp" placeholder="Ingrese su nombre completo aqui">

            <label for="inputCorreo" class="form-label mt-4">Correo electrónico</label>
            <input type="email" class="form-control" id="inputCorreo" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico aqui">


        </div>

        <div class="columnContainer">

            <label for="inputApellidos" class="form-label mt-4">Apellidos</label>
            <input type="text" class="form-control" id="inputApellidos" aria-describedby="emailHelp" placeholder="Ingrese su nombre completo aqui">


            <label for="inputEdad" class="form-label mt-4">Edad</label>
            <div class="input-group ">
                <input type="number" min="16" max="130" class="form-control" id="inputEdad" aria-describedby="emailHelp" placeholder="Ingrese su edad aqui">
                <span class="input-group-text">años</span>
            </div>


        </div>



    </form>

    <button type="button" class="btn btn-primary btnCalculo" id="btnSiguiente">Siguiente</button>

</div>
