@page
@model EvaluacionNutricionalModel
@{
}

<link href="~/css/evaluacionnutricional.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<script src="~/js/informacionpersonal.js"></script>


<header class="text-center cabezaPagina">
    <h2 id="subtituloCabezaPagina">EVALUACION NUTRICIONAL</h2>
    <P>En está sección vas a poder conocer tu peso ideal, IMC y requerimiento calórico diario</P>

</header>


<div class="contenedorEvaluacion">


    <div class="contenedorFormDatos">
    <h4>Ingrese sus datos</h4>
        <p>Ingrese sus datos personales</p>
    <form class="datosPersonales" class="form-group">

        <div class="columnContainer">
            <label for="inputNombre" class="form-label mt-4">Nombre</label>
            <input type="text" class="form-control requerido" id="inputNombre" aria-describedby="emailHelp" placeholder="Ingrese su nombre aqui">

            <label for="inputCorreo" class="form-label mt-4">Correo electrónico</label>
            <input type="email" class="form-control" id="inputCorreo" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico aqui">


        </div>

        <div class="columnContainer">

            <label for="inputApellidos" class="form-label mt-4">Apellidos</label>
                <input type="text" class="form-control requerido" id="inputApellidos" aria-describedby="emailHelp" placeholder="Ingrese sus apellidos aqui">


            <label for="inputEdad" class="form-label mt-4">Edad</label>
            <div class="input-group ">
                    <input type="number" min="16" max="130" class="form-control requerido" id="inputEdad" aria-describedby="emailHelp" placeholder="Ingrese su edad aqui">
                <span class="input-group-text">años</span>
            </div>


        </div>



    </form>

    <button type="button" class="btn btn-primary btnCalculo" id="btnSiguiente">Siguiente</button>

    </div>
</div>



<section class="contenedorInformativo ">

    <div class="contenedorFormDatos">

        <h4>Que resultados encontrarás en esta evaluación?</h4>
        <h5>IMC:</h5>
        <p>
            Es una medida que evalúa la relación entre tu peso y tu altura.

        </p>
        <h5>Peso ideal:</h5>
        <p>El peso ideal es el rango de peso en el cual te encuentras en tu mejor estado de salud.</p>
        <h5>            Requerimiento calórico:</h5>
        <p>
            El requerimiento calórico es la cantidad de calorías que tu cuerpo necesita para mantener sus funciones básicas y tu nivel de actividad diaria. Puede variar según tu edad, género, nivel de actividad física y otros factores.
        </p>




    </div>



</section>