@page
@model WebApp.Pages.EvaluacionNutricional.MedidasModel
@{
}

<link href="~/css/evaluacionnutricional.css" rel="stylesheet" />
<script src="~/js/medidas.js"></script>


<div class="contenedorEvaluacion">
    <h1>Evaluación nutricional</h1>
    <p>En esta sección vas a poder ingresar tus datos y descubrir el resultado de tu IMC, Requerimiento calorico y tu peso ideal</p>



    <div class="contenedorFormDatos">
    <h4>Ingrese sus datos</h4>
    <p>Aqui debes ingresar tus medidas</p>
    <form class="datosPersonales" class="form-group">

        <div class="columnContainer">
            <label for="inputPeso" class="form-label mt-4">Peso (kg) </label>
            <div class="input-group ">
                <input type="number" min="20" max="650" class="form-control" id="inputPeso" aria-describedby="emailHelp" placeholder="Ingrese su peso completo en kilogramos aquí">
                <span class="input-group-text">kg</span>
            </div>
            <label for="inputTalla" class="form-label mt-4">Estatura (cm) </label>
            <div class="input-group ">
                <input type="number" min="100" max="300" class="form-control" id="inputTalla" aria-describedby="emailHelp" placeholder="Ingrese su estatura en centímetros aquí">
                <span class="input-group-text">cm</span>
            </div>

            <label for="inputCircMunneca" class="form-label mt-4">Circunferencia de muñeca (cm) </label>
            <div class="input-group ">
                <input type="number" min="7" max="100" class="form-control" id="inputCircMunneca" aria-describedby="emailHelp" placeholder="Ingrese su circunferencia de munneca en centímetros aquí">
                <span class="input-group-text">cm</span>
            </div>




        </div>

        <div class="columnContainer">

            <label for="sexoSelect" class="form-label mt-4">Sexo</label>
            <select class="form-select" id="sexoSelect">
                <option disabled selected value="">Seleccione su sexo al nacer</option>
                <option value="Mujer">Mujer</option>
                <option value="Hombre">Hombre</option>

            </select>


            <label for="actividadFisicaSelect" class="form-label mt-4">Actividad física</label>
            <select class="form-select" id="actividadFisicaSelect">
                <option disabled selected value="">Seleccione su tipo de actividad física</option>
                <option value="Sedentario">Sedentario</option>
                <option value="ActividadFisica">Actividad física regular</option>

            </select>

        </div>



    </form>

    <div class="grupoBotonesForm">
            <button type="button" class="btn btn-secondary btnCalculo" id="btnVolver">Volver</button>
            <button type="button" class="btn btn-primary btnCalculo" id="btnCalcular">Calcular</button>

    </div>


    </div>


</div>
