@page
@model WebApp.Pages.EvaluacionNutricional.ResultadosModel
@{
}

<link href="~/css/evaluacionnutricional.css" rel="stylesheet" />
<script src="~/js/resultados.js"></script>


<header class="text-center cabezaPagina">
    <h2 id="subtituloCabezaPagina">EVALUACION NUTRICIONAL</h2>
    <P>En está sección vas a poder conocer tu peso ideal, IMC y requerimiento calórico diario</P>

</header>


<section class="contenedorResultado">



    <div id="contenedorTabla" class="contenedorFormDatos">
        <h3 >Resultados de tu evaluacion nutricional</h3>
        <h4 id="nombreCliente"></h4>



        <div class="resultadoCardsContenedor">

            <card id="resultadoIMCCard">
                 <h4>IMC</h4>
                <h5 id="resultadoIMC">50 kg/m2 - Sobrepeso</h5>
                <p>
                    El indice de masa corporal (IMC) evalúa la relación entre tu peso y tu altura.
                </p>

            </card>
            <card id="resultadoPIdeal">
                <h4>Peso ideal</h4>
                <h5 id="resultadoPesoIdeal">50kg</h5>
                <p>
                    El peso ideal es el rango de peso en el cual te encuentras en tu mejor estado de salud.
                </p>

            </card>

            <card id="resultadoRCalorico">
                <h4>Requerimiento calórico</h4>
                <h5 id="resultadoRequerimiento">1200 kcal</h5>
                <p>
                    El requerimiento calórico es la cantidad de calorías que tu cuerpo necesita para mantener sus funciones básicas y tu nivel de actividad diaria.
                </p>

            </card>


        </div>


        <button type="button" id="btnVolver" style=" width:100px; " class="btn btn-primary" asp-page="/EvaluacionNutricional/InformacionPersonal">Volver</button>

    
    </div>
</section>

<section class="contenedorInformativo" >

    <div class="contenedorFormDatos">

        <h4>Que resultados encontrarás en esta evaluación?</h4>
        <h5>IMC:</h5>
        <p>
             Es una medida que evalúa la relación entre tu peso y tu altura.
            
        </p>
        <h5>Peso ideal:</h5>
        <p>El peso ideal es el rango de peso en el cual te encuentras en tu mejor estado de salud.</p>
        <h5>            Requerimiento calórico:</h5>
        <p>
            El requerimiento calórico es la cantidad de calorías que tu cuerpo necesita para mantener sus funciones básicas y tu nivel de actividad diaria. Puede variar según tu edad, género, nivel de actividad física y otros factores.
        </p>




    </div>



</section>