@page
@model WebApp.Pages.EvaluacionNutricional.ResultadosModel
@{
}

<link href="~/css/evaluacionnutricional.css" rel="stylesheet" />
<script src="~/js/resultados.js"></script>

<div>


    <h1>
        AquiResultados
    </h1>

    <table id="tblResultados">


    </table>
</div>