@page
@model WebApp.Pages.EducacionNutricionalModel
@{
}
<link href="~/css/educacionnutricional.css" rel="stylesheet" />
<section id="contenedorEducacion">
    <h1>Educación nutricional</h1>
    <p>En esta sección vas a tener articulos de interés nutricional para tu aprendizaje</p>





</section>