@page
@model WebApp.Pages.EducacionNutricionalModel
@{
}
<!DOCTYPE html>
<link href="~/css/educacionnutricional.css" rel="stylesheet" />


<header class="text-center cabezaPagina">
    <h2 id="subtituloCabezaPagina">EDUCACION NUTRICIONAL</h2>
    <P>En está sección vas a encontrar artículos de información valiosa para tu educacion nutricional</P>

</header>





<section id="contenedorEducacion" class="contenedorFormDatos">

    <div id="grupoAlimentosMdl" class="contenedorModal" >
        <div class="contenidoModal">
            <h3>
                LOS GRUPOS DE ALIMENTOS
            </h3>
            <div class="imgContainer">
                <img src="/media/Presentaciones/GrupoAlimentos.jpg" />
            </div>


            <button type="button" id="btncerrar1" class="btn btn-secondary btnCerrar">Cerrar</button>

        </div>

    </div>

    <div id="beneficiosMdl" class="contenedorModal">
        <div class="contenidoModal">

            <h3>
                IMPORTANCIA DEL EJERCICIO FISICO
            </h3>
            <div class="imgContainer">
                <img src="/media/Presentaciones/BeneficiosEjercicio.jpg" />
            </div>

            <button type="button" class="btn btn-secondary btnCerrar">Cerrar</button>
        </div>

    </div>

    <div id="recomendacionesMdl" class="contenedorModal">
        <div class="contenidoModal">

            <h3>
                BENEFICIOS DE LA FIBRA

            </h3>
            <div class="imgContainer">
                <img src="/media/Presentaciones/BeneficiosFibra.jpg" />
            </div>
            <button type="button" class="btn btn-secondary btnCerrar">Cerrar</button>
        </div>

    </div>
    <div class="contenedorCards">
        <card class="cardArticulo">
            <img id="imgArticuloAlimentos" src="/media/GruposAlimentos.png" />
            <h6>LOS GRUPOS DE ALIMENTOS</h6>
            <p>Explicacion sobre los diferentes grupos alimenticios y recomendaciones de consumo de cada uno de ellos</p>
            <button type="button" id="grupoAlimentosBtn" class="btn btn-primary">Ver articulo</button>
        </card>
        <card class="cardArticulo">
            <img id="imgArticuloEjercicio" src="/media/BeneficiosEjercicio.png" />
            <h6>IMPORTANCIA DEL EJERCICIO FISICO</h6>
            <p>Explicacion sobre los diferentes grupos alimenticios y recomendaciones de consumo de cada uno de ellos</p>
            <button type="button" id="beneficiosBtn" class="btn btn-primary">Ver articulo</button>
        </card>

        <card class="cardArticulo">
            <img id="imgArticuloFibra" src="/media/BeneficiosFibra.png" />
            <h6>BENEFICIOS DE LA FIBRA</h6>
            <p>Explicacion sobre los diferentes grupos alimenticios y recomendaciones de consumo de cada uno de ellos</p>
            <button type="button" id="recomendacionesBtn" class="btn btn-primary">Ver articulo</button>
        </card>



    </div>

   


</section>





<script src="~/js/educacionnutricional.js"></script>