@page
@model WebApp.Pages.EvaluacionNutricionalModel
@{
}

<link href="~/css/evaluacionnutricional.css" rel="stylesheet" />
<script src="~/js/evaluacionnutricional.js"></script>


<div id="contenedorEvaluacion">
    <h1>Evaluación nutricional</h1>
    <legend>Ingrese sus datos</legend>
    <form id="datosPersonales" class="form-group">

        <div class="columnContainer">
            <label for="inputCorreo" class="form-label mt-4">Correo electrónico</label>
            <input type="email" class="form-control" id="inputCorreo" aria-describedby="emailHelp" placeholder="Ingrese su correo electrónico aqui">

            <label for="inputNombre" class="form-label mt-4">Nombre completo</label>
            <input type="text" class="form-control" id="inputNombre" aria-describedby="emailHelp" placeholder="Ingrese su nombre completo aqui">


            <label for="exampleSelect2" class="form-label mt-4">Sexo</label>
            <select class="form-select" id="exampleSelect2">
                <option disabled selected value="">Seleccione su sexo al nacer</option>
                <option value="Mujer">Mujer</option>
                <option value="Hombre">Hombre</option>

            </select>




            <label for="exampleSelect2" class="form-label mt-4">Actividad física</label>
            <select  class="form-select" id="exampleSelect2">
                <option disabled selected value="">Seleccione su tipo de actividad física</option>
                <option value="Sedentario">Sedentario</option>
                <option value="ActividadFisica">Actividad física regular</option>
  
            </select>
        </div>

        <div class="columnContainer">


            <label for="inputPeso" class="form-label mt-4">Peso (kg) </label>
            <div class="input-group mb-3">
                <input type="number" min="20" max="650"  class="form-control" id="inputPeso" aria-describedby="emailHelp" placeholder="Ingrese su peso completo en kilogramos aquí">
                <span class="input-group-text">kg</span>
            </div>
            <label for="inputTalla" class="form-label mt-4">Estatura (cm) </label>
            <div class="input-group mb-3">
                <input type="number" min="100" max="300" class="form-control" id="inputPeso" aria-describedby="emailHelp" placeholder="Ingrese su estatura en centímetros aquí">
            <span class="input-group-text">cm</span>
            </div>

            <label for="inputEdad" class="form-label mt-4">Edad</label>
            <div class="input-group mb-3">
                <input type="number" min="16" max="130" class="form-control" id="inputEdad" aria-describedby="emailHelp" placeholder="Ingrese su edad aqui">
                <span class="input-group-text">años</span>
            </div>


        </div>



    </form>

    <button type="button" class="btn btn-primary" id="btnCalculo">Calcular</button>

</div>
