@page
@model WebApp.Pages.GrupoAlimentosModel
@{
}

<script src="https://kit.fontawesome.com/332cde6570.js" crossorigin="anonymous"></script>

<link href="~/css/grupoalimentos.css" rel="stylesheet" />

<script src="~/js/grupoalimentos.js"></script>
<script src="~/js/site.js"></script>





<header class="text-center cabezaPagina">
	<h2 id="subtituloCabezaPagina" >GRUPO DE ALIMENTOS</h2>
	<P>En esta sección puedes buscar cualquier alimento y saber a qué grupo de alimento pertenece y la equivalencia a 1 porción del alimento</P>

</header>

<section id="contenedorAlimentos">

	<div class="contenedorFormDatos">
	
	<h4>Ingrese en la barra de busqueda el alimento o grupo alimenticio a buscar</h4>

	
	
		<div id="contenedorInputBusqueda">
			
<input id="busquedaAlimentoInput" class="form-control" type="search" placeholder="Escriba el nombre del alimento aqui">
		</div>




<section>
<table id="tblAlimentos" class="display" style="width:100%">
			<thead style="width:100%">
		<tr>
						<th class="topLeftBorderRadius"> Alimento</th>
			<th> Grupo Alimenticio</th>
			<th> Tamaño de la porción</th>
						<th class="topRightBorderRadius"> Es Fuente de fibra</th>
		</tr>
	</thead>
			<tbody id="tableBodyAlimentos" style="width:100%">


	</tbody>
</table>
</section>

	</div>

</section>
