@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/index.css" rel="stylesheet" />
<script src="~/js/site.js"></script>




<header class="text-center cabezaPagina" id="tituloIndex">
    <h1 id="tituloPagina"><span><i class="fa-solid fa-leaf"></i></span> NUTRICENSE</h1>
    <h5 id="subtituloPagina">Información a tu alcance</h5>
    <p>En este sitio web te damos la ayuda necesaria para hacer tu plan de alimentación mas dinámico.</p>
    <button type="button" class="btn" onClick="document.querySelector('.opcionIndexArticle').scrollIntoView();">Ver más</button>
</header>




<section>
    <article class="opcionIndexArticle">
        <card id="cardGrupoAlimentos">
           
            <h3>GRUPO DE ALIMENTOS</h3>
            <p>En esta sección puedes buscar cualquier alimento y saber a qué grupo de alimento pertenece y la equivalencia a 1 porción del alimento</p>
            <button type="button" onClick="window.location.href = '/GrupoAlimentos'">
                BUSCADOR DE ALIMENTOS
            </button>
        </card>


        <aside>
            <img onClick="window.location.href = '/GrupoAlimentos'" class="imgCardIndex" src="/media/imgCardPreview.png" />

        </aside>



    </article>

    <article class="opcionIndexArticle fondoBlanco">

        <card id="cardEvaluacion">

            <h3>EVALUACION NUTRICIONAL</h3>
            <p>En esta sección puedes buscar cualquier alimento y saber a qué grupo de alimento pertenece y la equivalencia a 1 porción del alimento</p>
            <button type="button" onClick="window.location.href = '/EvaluacionNutricional/InformacionPersonal'">
                EVALUACION NUTRICIONAL
            </button>
        </card>

        <aside>
            <img onClick="window.location.href = '/EvaluacionNutricional/InformacionPersonal'" class="imgCardIndex" src="/media/imgCardPreview2.png" />

        </aside>

    </article>


    <article class="opcionIndexArticle">
        <card id="cardEducacion">

            <h3>EDUCACION NUTRICIONAL</h3>
            <p>
                En esta sección puedes encontrar articulos de interes nutricional y de alto valor educacional para informarte mas sobre tu alimentacion y dieta diaria
                </p>

            <button type="button" onClick="window.location.href = '/EducacionNutricional'">
                EDUCACION NUTRICIONAL
            </button>
        </card>


        <aside>
            <img onClick="window.location.href = '/EducacionNutricional'" class="imgCardIndex" src="/media/imgCardPreview3.png" />

        </aside>



    </article>


</section>

<div id="containerPagina">





    <!--
<section>

        <h2> Que hacemos?</h2>

        <p>
            Bienvenido a nuestra página web! Aquí, te facilitamos la búsqueda rápida de alimentos y sus porciones, junto con información nutricional detallada. Además, puedes descubrir tu peso ideal, calcular tu Índice de Masa Corporal (IMC) y determinar tus requerimientos calóricos para mantener un estilo de vida saludable
        </p>

        <div id="cardsContenedor">


    <div id="cardAlimentos" class="indexCard">
        <h2>Buscador de alimentos</h2>

        <p>Aqui va el texto descriptivo de la vara de la vara</p>


        <a class="btn btn-info" asp-page="/GrupoAlimentos">Grupo de alimentos</a>


    </div>


            <div id="cardEvaluacion" class="indexCard">
                <h2>Evaluación nutricional</h2>

                <p>Aqui va el texto descriptivo de la vara de la vara</p>


                <a class="btn btn-info" asp-page="/EvaluacionNutricional/InformacionPersonal">Evaluación nutricional</a>


            </div>

        </div>


</section>

<section>
    <h2>Aqui va el video explicativo</h2>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
        </p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/eJiL_Y0sZu4?si=tO6uGvGhJr_9slo5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</section>
    -->
</div>
