:root {
    --negro: #000000;
    --blanco: #ffffff;
    --verdePrimario: #78C2AD;
    --verdeSecundario: #b8dfd4;
    --grisFondoBloque: #f4f4f4;
    --verdeOscuro: #133C44;
    --montserrat: 'Montserrat', sans-serif;
    --fondoBloque: #f4f4f4;
    --verdeDiluido: #b3d7cc;
    --fondoClaroTabla: #EBEBEB;
    --fondoOscuroTabla: #D9D9D9;
    --verdeContenedor: #ebf6f3;
}
body{
    background-color:var(--verdePrimario)
}
.cabezaPagina {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url("../media/nutritionistPC.jpg");
    background-repeat: no-repeat;
    /* background-position-x:top;*/
    background-position-y: 50%;
    background-size: cover;
    /*filter: brightness(50%);*/
    height: 189px;
    padding: 50px !important;
    color: var(--blanco) !important;
}

#subtituloCabezaPagina {
    color: var(--blanco) !important;
    font-weight: 400 !important;
}
#contenedorEducacion {
    display: flex;
    flex-direction: column;
    margin:auto;
    text-align:center;
    padding-top: 40px;
}



.contenedorModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 140px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.contenedorModal {

    border: 1px solid #888;
    margin: auto;

}
.contenidoModal {
    width: 850px;
    height: 700px;
    margin: auto;
    background-color: #ffffffe2;
    /*display: flex;
    flex-direction: column;*/
    border-radius: 15px;
}

.contenidoModal iframe{
    margin: 25px 25px 0px;
}
    .contenidoModal button {
        margin: auto;
        color: var(--verdeOscuro);
    }
.contenedorCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px 10px;
}

.cardArticulo {
    background-color: var(--verdeContenedor);
    padding: 40px;
    max-width: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    gap:15px;
}
.cardArticulo img {
    width: 250px;
}
    .cardArticulo h6 {
        color: var(--negro);
        font-size: 16px;
        height: 40px;
    }
    .cardArticulo p {
        height: 100px;
        font-size: 14px;
    }

.abrir {
    display: block;
}


.contenedorFormDatos {
    padding: 40px;
    width: 90%;
    margin-top: 40px !important;
    background-color: #ebf6f34f;
}



/* Mobile */
@media (max-width: 767px) {


}




@media (max-width: 850px) {
    .contenidoModal {
        width: 80%;
        height: 80%;
    }

        .contenidoModal iframe {
            width: 90%;
            height: 90%;
        }
}