body {
}

.contenedorEvaluacion {
    margin: 40px;
    text-align: center;
    //background-color: #e4f3ef;
    padding: 0px 40px;
    border-radius: 20px
}

.datosPersonales {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

    .datosPersonales label{
        color: #5a5a5a;
    }

    .columnContainer {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

.datosPersonales input, .form-select {
    max-width: 555px;
    height: 38px;
    border: 1px solid #5a5a5a;
}

.input-group-text {
    width: 55px;
    border: 1px solid #5a5a5a;
}

.btnCalculo{
    margin:40px;
}

.is-invalid {
   border-color: #ff7851 !important;
}
