:root {
    --negro: #000000;
    --blanco: #ffffff;
    --verdePrimario: #78C2AD;
    --verdeSecundario: #b8dfd4;
    --grisFondoBloque: #f4f4f4;
    --verdeOscuro: #133C44;
    --montserrat: 'Montserrat', sans-serif;
    --fondoBloque: #f4f4f4;
    --verdeDiluido: #b3d7cc;
    --fondoClaroTabla: #EBEBEB;
    --fondoOscuroTabla: #D9D9D9;
}


.contenedorEvaluacion {
    margin: 40px;
    text-align: center;
    //background-color: #e4f3ef;
    padding: 0px 40px;
    border-radius: 20px;
}

.contenedorEvaluacion h4{
    margin-top: 20px;
}



.datosPersonales {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 30px;

}




    .datosPersonales label{
        color: #5a5a5a;
    }

    .columnContainer {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

.datosPersonales input, .form-select {
    max-width: 555px;
    height: 38px;
    border: 1px solid #5a5a5a;
}

.input-group-text {
    width: 55px;
    border: 1px solid #5a5a5a;
}


.is-invalid {
   border-color: #ff7851 !important;
}

.contenedorResultado {

    max-width: 900px;
    margin: auto;
    margin-top:40px;
    text-align: center;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    /*gap: 40px;*/

}
.tblTitulo {
    line-height:0.9;
    font-weight:500;
    text-align:end;
    width:340px;
    padding-right:10px

}
.tblProp {
    text-align: start;
    width: 340px;
    padding-left: 0px
}

#tblResultados {
    line-height: 2;
    margin: auto;
    color: #5a5a5a;
    font-size: 25px;
    font-weight: 500;

}
    #tblResultados tbody {

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

#estadoIMC {
    line-height: 1;
    padding-left: 10px !important;
}


/*#contenedorTabla {
    background-color: rgba(0,0,0,.075);
    border-radius: 10px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



    #contenedorTabla h2 {
        color: #133C44;
        font-weight:600;

    }

#contenedorTabla p{
    margin:-10px 0px;
}*/

#tblResultados tr {
    padding: 10px;
    border-bottom: 1px solid #c2c2c2;
}

#subtituloCabezaPagina, .cabezaPagina {
    color: var(--verdeOscuro) !important;
}

#nombreCliente{
    color: var(--negro)
}
.contenedorFormDatos {
    gap: 10px;
    padding: 30px;
}


.contenedorFormDatos button {
    margin: auto;
    margin-top: 40px;
}

.contenedorInformativo{
  margin-top: 40px;
}
.contenedorInformativo h4{
    color: var(--verdeOscuro);
    font-weight: 600;
}

    .contenedorInformativo h5 {
        color: var(--negro);
    }