@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400;1,500;1,600&display=swap');



:root {
    --negro: #000000;
    --blanco: #ffffff;
    --verdePrimario: #78C2AD;
    --verdeSecundario: #b8dfd4;
    --grisFondoBloque: #f4f4f4;
    --verdeOscuro: #133C44;
    --montserrat: 'Montserrat', sans-serif;
}


body{
    font-family: var(--montserrat); 
}

#tituloPagina {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 600;
    color: #133C44;
}





#cardsContenedor {
    display: flex;
    justify-content: space-around;
    height: auto;
    gap: 10px;
    flex-wrap: wrap;
}

    #cardsContenedor h2 {
        color: white;
        text-shadow: 1px -1px 17px rgba(0,0,0,0.79);
    }

.indexCard {
    height:300px;
    width:500px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: white;


}

    .indexCard a {
        margin: 0px auto;
        width: 300px;
        color: #133C44;
    }

#cardAlimentos {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url('../media/grupoAlimentos.jpg');
    background-position: center;
    background-size:cover;
}

#cardEvaluacion {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url('../media/evaluacionNutricional.jpg');
    background-position: center;
    background-size:contain;
}


#containerPagina{
    display: flex;
    flex-direction: column;
    gap:40px;
    text-align: center;
}





.opcionIndexArticle{
    background-color: var(--verdePrimario);
    display: flex;
    padding: 20px;
    text-align:center;


}

    .opcionIndexArticle h3 {
        color: var(--verdeOscuro);
        font-weight: 500;
        font-size: 2.3em;
        white-space: nowrap;
        margin: 0px;
    }

    .opcionIndexArticle p{
        font-size:1.2em;
        font-weight: 300;
        color: var(--negro);
        margin: auto;
        margin-bottom: 0px;
        max-width: 90%;
    }

    .opcionIndexArticle button {
        background-color: var(--verdeOscuro);
        color: white;
        border: none;
        border-radius: 8px;
        padding: 12px 50px;
        margin: auto;
        margin-top: 0px;
        font-size: 1.2em;
        white-space: nowrap;
    }

    .opcionIndexArticle card{
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 40px;
        max-width:50%;

    }


    .opcionIndexArticle aside {
        padding: 30px 50px 30px 50px;

        width: 50%;

    }

    .opcionIndexArticle aside img {
        max-width: 400px;
        margin:auto;
        display: flex;
    }

.fondoBlanco {
    background-color: var(--blanco);
    flex-direction: row-reverse;
}

@media (max-width: 1120px) {
    #tituloPagina {
        font-size: 46px;
    }
    .opcionIndexArticle {
        background-color: var(--verdePrimario);
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }
        .opcionIndexArticle aside {
            padding: 0px;
            width: 100%;
        }
    .imgCardIndex {
        width: 280px;
        margin: auto;
        display: flex;
    }

        .opcionIndexArticle h3 {
            font-size: 20px;
            white-space:nowrap;
            font-weight: 600;   
        }

        .opcionIndexArticle card {
            display: flex;
            flex-direction: column;
            padding: 15px;
            gap: 25px;
            max-width: 100%;
        }

        .opcionIndexArticle button {
            font-size: 16px;
            white-space: nowrap;
        }

    .fondoBlanco {
        background-color: var(--blanco);
        flex-direction: column-reverse;
    }
}