@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400;1,500;1,600&display=swap');

#tituloPagina {
    margin-top:50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #78C2AD;
    color: #133C44;
}




#cardsContenedor {

    display: flex;
    justify-content: space-around;
    height: auto;
    gap: 10px;
    flex-wrap: wrap;

}

    #cardsContenedor h2 {
        color: white;
        text-shadow: 1px -1px 17px rgba(0,0,0,0.79);
    }

.indexCard {
    height:300px;
    width:500px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: white;


}

    .indexCard a {
        margin: 0px auto;
        width: 300px;
        color: #133C44;
    }

    #cardAlimentos {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url('../media/bigstock-Health-food-selection-super-foods-fruits-veggies.jpg');
        background-position: center;
    }

#cardEvaluacion {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) ), url('../media/Nutrition_share.jpg');
    background-position: center;
}


#containerPagina{
    display: flex;
    flex-direction: column;
    gap:40px;
    text-align: center;
}

