@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400;1,500;1,600&display=swap');



:root {
    --negro: #000000;
    --blanco: #ffffff;
    --verdePrimario: #78C2AD;
    --verdeSecundario: #b8dfd4;
    --grisFondoBloque: #f4f4f4;
    --verdeOscuro: #133C44;
    --montserrat: 'Montserrat', sans-serif;
    --dorado: #C2B278;
}


body{
    font-family: var(--montserrat); 
}

#tituloPagina {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 600;
    color: #133C44;

}


#tituloIndex {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url("../media/maiz.jpg");
    background-repeat: no-repeat;
    background-position-x:center;
    background-size:cover;
    /*filter: brightness(50%);*/
    height: 550px;
    padding: 110px 90px!important;
}

    #tituloIndex h1 {
        color: var(--blanco);
        font-weight:500;

    }

    #tituloIndex h5 {
        font-weight:300;
        color: var(--blanco);
    }

    #tituloIndex p {
        color: var(--blanco);
        margin: 50px;
        font-size: 1.3rem;
        font-weight: 500;
    }

    #tituloIndex button {
        color: var(--blanco);
        background-color: var(--dorado);
        padding: 8px 45px;
        font-size: 1.3rem;
        font-weight: 500;
    }



    #cardsContenedor {
        display: flex;
        justify-content: space-around;
        height: auto;
        gap: 10px;
        flex-wrap: wrap;
    }

    #cardsContenedor h2 {
        color: white;
        text-shadow: 1px -1px 17px rgba(0,0,0,0.79);
    }

.indexCard {
    height:300px;
    width:500px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: white;


}

    .indexCard a {
        margin: 0px auto;
        width: 300px;
        color: #133C44;
    }

#cardEducacion {
    background: url('../media/person-chalkboard-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#cardEvaluacion {
    background: url('../media/weight-scale-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
}


#containerPagina{
    display: flex;
    flex-direction: column;
    gap:40px;
    text-align: center;
}


#cardGrupoAlimentos {
    background: url("../media/wheat-awn-solid.svg");
    background-repeat: no-repeat;
    background-position:center;
}


.opcionIndexArticle {
    background-color: var(--verdePrimario);
    display: flex;
    padding: 20px;
    text-align: center;
}

    .opcionIndexArticle h3 {
        color: var(--verdeOscuro);
        font-weight: 500;
        /*font-size: 2.3em;*/
        white-space: nowrap;
        margin: 0px;
    }

    .opcionIndexArticle p{
        font-size:1.2em;
        font-weight: 300;
        color: var(--negro);
        margin: auto;
        margin-bottom: 0px;
        max-width: 90%;
    }

    .opcionIndexArticle button {
        background-color: var(--verdeOscuro);
        color: white;
        border: none;
        border-radius: 8px;
        padding: 12px 50px;
        margin: auto;
        margin-top: 0px;
        font-size: 1.2em;
        white-space: nowrap;
    }

    .opcionIndexArticle card{
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 40px;
        max-width:50%;

    }


    .opcionIndexArticle aside {
        padding: 30px 50px 30px 50px;

        width: 50%;

    }

    .opcionIndexArticle aside img {
        max-width: 400px;
        margin:auto;
        display: flex;
    }

.fondoBlanco {
    background-color: var(--blanco);
    flex-direction: row-reverse;
}




    /* Mobile */

@media (max-width: 767px) {
    #tituloIndex {
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url("../media/maiz.jpg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        /*filter: brightness(50%);*/
        height: 300px;
        padding: 30px !important;
    }

        #tituloIndex p {
            margin: 20px;
            font-size: 0.8rem;
            font-weight: 500;
        }

        #tituloIndex button {
            color: var(--blanco);
            background-color: var(--dorado);
            padding: 8px 45px;
            font-size: 1rem;
            font-weight: 500;
        }

    #tituloPagina {
        font-size: 46px;
    }




    .opcionIndexArticle {
        background-color: var(--verdePrimario);
        display: flex;
        flex-direction: column-reverse !important;
        padding: 20px;
        text-align: center;
    }

        .opcionIndexArticle aside {
            padding: 0px;
            width: 100%;
        }

    .imgCardIndex {
        width: 280px;
        margin: auto;
        display: flex;
    }

    .opcionIndexArticle h3 {
        font-size: 20px;
        white-space: nowrap;
        font-weight: 600;
    }

    .opcionIndexArticle card {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 25px;
        max-width: 100%;
    }

    .opcionIndexArticle button {
        font-size: 12px;
        white-space: nowrap;
    }

    .fondoBlanco {
        background-color: var(--blanco);
        flex-direction: column-reverse;
    }
}




    /* Small tablets */

    @media (min-width: 768px) and (max-width: 991px) {
        .opcionIndexArticle aside{
            display:flex;
        }
        #tituloIndex p {
            color: var(--blanco);
            margin: 50px;
            font-size: 1.3rem;
            font-weight: 500;
        }

        #tituloIndex button {
            color: var(--blanco);
            background-color: var(--dorado);
            padding: 8px 45px;
            font-size: 1.3rem;
            font-weight: 500;
        }

        .opcionIndexArticle aside img {
            max-width: 300px;
            margin: auto;
            display: flex;
        }
        .opcionIndexArticle h3 {

            font-size: 1.4em;
            white-space: nowrap;
            margin: 0px;
        }

        .opcionIndexArticle p {
            font-size: 1.2em;
            font-weight: 300;
            color: var(--negro);
            margin: auto;
            margin-bottom: 0px;
            max-width: 90%;
        }

        .opcionIndexArticle button {
            background-color: var(--verdeOscuro);
            color: white;
            border: none;
            border-radius: 8px;
            padding: 12px 30px;
            margin: auto;
            margin-top: 0px;
            font-size: 1em;
            white-space: nowrap;
        }

    }


    /* Large tablets/laptops */
    @media (min-width: 992px) and (max-width: 1199px) {
    }

    /* Desktops */

    @media (min-width: 1200px) and (max-width: 1919px) {
    }
    /* Extra large screens */
    @media (min-width: 1926px) {
    }