:root {
    --negro: #000000;
    --blanco: #ffffff;
    --verdePrimario: #78C2AD;
    --verdeSecundario: #b8dfd4;
    --grisFondoBloque: #f4f4f4;
    --verdeOscuro: #133C44;
    --montserrat: 'Montserrat', sans-serif;
    --fondoBloque: #f4f4f4;
    --verdeDiluido: #b3d7cc;
}

html {
  font-size: 14px;

}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: var(--montserrat);
}

.navbar-nav {
 width:auto!important
}

.navbar-nav{
    margin: auto;
    width:auto;
}


.contenedorFormDatos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--fondoBloque);
    border-radius: 10px;
}


.contenedorFormDatos p{
    margin:0px;
}

.grupoBotonesForm{
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: auto
}



.cabezaPagina {
    background-color: var(--verdeSecundario);

    width: 100%;
    margin: 0px;
    padding: 40px;
}

.cabezaPagina h5{
    margin:0px;
}
.cabezaPagina h1{
    margin:0px;
}
    .cabezaPagina h2 {
        font-weight: 600 !important;

    }


