:root {
    --verdePrimario: #78C2AD;
    --verdeSecundario: #b8dfd4;
    --grisFondoBloque: #f4f4f4;
}



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav {
 width:auto!important
}

.navbar-nav{
    margin: auto;
    width:auto;
}


.contenedorFormDatos {
    margin-top: 50px;
    padding: 30px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contenedorFormDatos button{
    margin: auto;
}

.contenedorFormDatos p{
    margin:-40px;
}

.grupoBotonesForm{
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: auto
}



.cabezaPagina {
    background-color: var(--verdeSecundario);
    width: 100%;
    margin: 0px;
    padding: 40px;

}

.cabezaPagina h5{
    margin:0px;
}
.cabezaPagina h1{
    margin:0px;
}

